<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body>
        <a class="skip-to-content" href="#">Skip to content</a>
        <header>
            <nav class="navbar container">
                <a href="#/" class="navbar-brand">
                    <img
                        src="/github-mark-white.svg"
                        alt="GitHub Logo"
                        class="navbar-logo"
                    />
                    <h1 class="navbar-title">Github Repo App</h1>
                </a>
                <div class="collapsible">
                    <button class="close-button">&times;</button>
                    <div class="navbar-links">
                        <a href="#/top-repo" class="navbar-link">Top Repo</a>
                        <a href="#/top-user" class="navbar-link">Top User</a>
                        <a href="#/favorite-repo" class="navbar-link"
                            >Favorite Repo</a
                        >
                    </div>
                </div>

                <button
                    class="navbar-toggler"
                    type="button"
                    aria-label="Toggle navigation"
                >
                    &#9776;
                </button>
                <div class="overlay"></div>
            </nav>
        </header>
        <main></main>
        <footer>
            <p>2024 &copy; Github Repo App - DBS Foundation Coding Camp</p>
        </footer>
    </body>
</html>
